<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="/loginAction" method="post">
    <div>
        <label>用户名</label>
        <input type="text" name="name" value="">
    </div>
    <div>
        <label>密码</label>
        <input type="password" name="pwd">
        <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}">
    </div>
    <div>
        <input type="submit" value="登录">
    </div>
</form>

</body>
</html>